{
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "browsers": [ ">=5%", "ie >= 7"]
      }
    }]
  ],
  "plugins": [
    ["module-resolver", {
      "root": ["./packages"]
    }]
  ]
}
