{
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "node": "6",
        "ios": "9",
        "browsers": [ ">=5%", "ie >= 7"]
      }
    }]
  ],
  "plugins": [
    ["module-resolver", {
      "root": ["./packages"]
    }]
  ]
}
